<form class="form-wrapper" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
  @if(!resetMode()) {
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      name="email"
      aria-describedby="emailHelp"
      [(ngModel)]="userInput"
      required
    />
  </div>
  } @else {
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">New password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputEmail1"
      name="email"
      aria-describedby="emailHelp"
      [(ngModel)]="userInput"
      required
    />
  </div>
  }
  <div class="text-start">
    <button
      type="submit"
      class="btn btn-outline-light"
      [ngClass]="{ disabled: myForm.invalid }"
    >
      {{ resetMode() ? "Confirm" : "Send Reset Link" }}
    </button>
  </div>
</form>
@if (message() && !resetMode()) {
<div class="mb-3 d-flex justify-content-center">
  Reset link was sent to {{ message() }}. Check your email please.
</div>
}
