* {
  background: inherit;
  color: inherit;
}
:host {
  padding: 3rem;
  height: 100vh;
}
header {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
h2 {
  margin: 0;
  padding: 0;
}
span {
  font-size: small;
  opacity: 0.8;
}
.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
.form-wrapper div {
  width: 100%;
  max-width: 230px;
}
input:focus {
  background: inherit;
  color: inherit;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.form-text {
  color: #ffffffb9;
}
.form-text {
  opacity: 0.6;
  cursor: pointer;
}
