<nav
  class="navbar navbar-expand-lg sticky-top bg-secondary border-bottom border-light"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="/">RAG-Explorer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      #navbarCollapse
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="#"
            routerLink="/"
            (click)="closeNavbar()"
            >Strona Główna</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="#"
            routerLink="/home"
            (click)="closeNavbar()"
            >Dashboard</a
          >
        </li>
      </ul>

      <!-- Logout wyrównany do prawej -->
      @if (user()){
      <div class="ms-auto d-flex align-items-center" (click)="closeNavbar()">
        <button class="btn btn-danger border-0" (click)="onLogout()">
          Logout
        </button>
      </div>
      } @else {
      <div class="ms-auto d-flex align-items-center" (click)="closeNavbar()">
        <button
          class="btn btn-warning border-0 me-2"
          routerLink="/auth/register"
        >
          Rejestracja
        </button>
        <button
          class="btn btn-outline-warning border-0"
          routerLink="/auth/login"
        >
          Logowanie
        </button>
      </div>
      }
    </div>
  </div>
</nav>
